#portfolio-row {
    margin: 50px;
}

#node-app {
    width: 100%;
    height: auto;
}

body {
    padding-top: 40px;
}
.social {
width: 62px;
height: 62px;
}

.img-thumbnail {
max-width: 100%;
height: auto;
}